.code-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 4rem;
  }

  .code-label {
    margin-bottom: 16px;
    align-items: center;
  }

  .code-inputs {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .code-inputs input {
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-align: center;
    height: 60px;
    width: 40px;
    border-radius: 10px;
    margin: 0 4px;
    border: 2px solid #4f5b66;
    font-size: 38px;
    color: #7A00E6;
  }

  .code-inputs input:focus {
    outline: none;
  }
