.formulario {
    display: flex;
    flex-direction: column; /* Define a direção dos itens como coluna */
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
  }
  
  form {
    max-width: 30rem;
    width: 90%;
    min-width: 6rem;
  }
  
  .entrar-esqueci {
    display: flex; /* Os elementos podem se mexer */
    justify-content: space-between; /* Se posiciona mais distante um do outro encostando na extremidade */
    width: 100%; /* Ocupa 100% da tela do elemento pai (form) */
    flex-wrap: wrap; /* Se espremer cai pra baixo o elemento */
  }

  .entrar-esqueci p{
    color: #7A00E6;
    text-decoration: underline;
    font-weight: bold;
  }

  /*
Erro da posição dos botões:

.formulario {
    display: block;
    width: 100%;
}

form {
    max-width: 75%;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.entrar-esqueci{
    text-align: center;
}

  */