button{
    background-color: #7A00E6;
    padding: 1rem;
    border-radius: 0.5rem;
    color: aliceblue;
    border: none;
    justify-content: center;
    font-weight: bolder;
    cursor: pointer;
}

button:hover{
    color: #DBB2FF;

}

button:visited{
    color: inherit;
    text-decoration: none;
}

button:active {
    color: white; 
  }