.digiteseuemail {
    display: flex;
    flex-direction: column; /* Define a direção dos itens como coluna */
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
  }
  
.campos-email {
    max-width: 30rem;
    width: 90%;
    min-width: 6rem;
}

.botao-email-centralizar{
    text-align: center;
}
